body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.menuBar {
  width: 100%;
  height: 50px;
}
.menuBar ul {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.menuBar ul a {
  padding: 5px;
  text-decoration: none;
  color: black;
  float: left;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid#FFF;
  width: 165px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid#0066FF;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid#003399;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250px;
}
.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  width: 100%;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color.2s ease-out;
}
.theList li button{
  float: right;
}
.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}